.navbar-nav {
    float: none;
    margin: 0 auto;
    display: inline-flex;
    position: center;
    left: -135px; /* the width of the .navbar-brand class in negative px */
}

.container img{
max-height: 90px;
margin-left: auto;
margin-right: auto;
display: block;
}

table{
    text-align: center;
}

#btnModal{
    margin: 1px;
}

.modal-header, .modal-body, .modal-footer {
    background-color: rgb(8, 8, 8);
    color: floralwhite;
}
